<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap and imported CSS -->
      <!-- <link href='https://use.fontawesome.com/releases/v5.0.8/css/all.css' rel='stylesheet'> -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
      <link href='https://fonts.googleapis.com/css?family=Laila|Nunito:400,700' rel='stylesheet'>
      <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>

      <!-- Custom CSS -->
      <!-- <link href="./style.css" rel="stylesheet" /> -->
      <link rel='stylesheet' href='/stylesheets/style.css' />

      <title>EE474</title>
    </head>
  </head>
  <body>

    <div id="title_body">
      <h1 style="margin-left: 60px;">
        <!-- <i class="fas fa-tshirt" style="color: white"/></i> <i class="fas fa-mitten" style="color: #C785FF"></i> <i class="fas fa-socks" style="color: #3DFFD5"></i> -->
        <i class="fas fa-tshirt" style="color: white"/></i> <i class="fas fa-mitten" style="color: white"></i> <i class="fas fa-socks" style="color: white"></i>
        EE474: Term Project
        <!-- <i class="fas fa-tshirt" style="color: #30FF5D"/></i> <i class="fas fa-mitten" style="color: #EB9D44"></i> <i class="fas fa-socks" style="color: white"></i> -->
        <i class="fas fa-tshirt" style="color: white"/></i> <i class="fas fa-mitten" style="color: white"></i> <i class="fas fa-socks" style="color: white"></i>
      </h1>
      <h2 style="margin-left: 205px;">
        "Recoloring the Clothes"
      </h2>
      <h4 style="text-align: right; margin-right:60px">Group 7: Kim Dayeon, Park Byeongjun, Park Sion, Jeon Jiwon</h4>
    </div>

    <div class="container">
      <!-- <h2 id="title">img segmentation and recoloring the clothes</h1> -->
      <!-- <button class="button" id="btn_1" onclick="btn1()">button1</button> -->

      <div class="img_container">
        <div class="row" style="margin-left: 0px;">
          <div class="col" style="border: solid 5px;padding: 5px; margin-right: 5px; max-width: 32.5%">
            <div class="titlebox">
              <div class="row">
                <div class="col" style="text-align: right; padding-right: 0px;"><span style="line-height: 35px;">Input Image</span></div>
                <div class="col" style="text-align: left; padding-left: 10px; padding-top: 4px; font-size: 14px;">&nbsp<label class="fileSubmit">Select<input type="file" id="getimg" accept="image/*" required ></label></div>
              </div>
            </div>

            <div class="text-center" style="margin-top: 10px;">
              <!-- <img id ="input_img" src="/images/input/997_1.jpg" class="rounded show_img" alt="input img" style=""> -->
              <img id ="input_img" src="/py_code/input/white.jpg" class="rounded show_img" alt="input img" style="">
            </div>
          <!-- </div> -->
          </div>
          <div class="col" id ="color_container" style="">
            <div class="titlebox">
              <span style="line-height: 35px;">Color Change</span>
            </div>
            <div class="color_box" style="">
              <div style="border: solid 0.5px; margin-bottom: 3px; padding: 2px; text-align: left">
                Top
                <img src="/png/tshirt.png" class="png24" style="height: 20px; width: 20px">
                <span id="topval">&nbsp&nbspcolor</span>
                <span style="float:right; margin-right: 10px; cursor: pointer;" onclick="open_top_box_s()"><i class="fas fa-angle-down"></i>&nbsp<i class="fas fa-angle-up"></i></span>
                <div id="color_box_top_h" style="margin-top: 3px; padding: 0px; text-align: center; height:25px">
                  <table id="color_table_top" class="color_table">
                    <tr>
                      <td style="background-image: url('images/rainbow.jpg'); background-size: 24px; color: rgba(0, 0, 0, 0);">1</td>
                      <td style="background-color: var(--color2); color: var(--color2);">2</td>
                      <td style="background-color: var(--color3); color: var(--color3);">3</td>
                      <td style="background-color: var(--color4); color: var(--color4);">4</td>
                      <td style="background-color: var(--color5); color: var(--color5);">5</td>
                      <td style="background-color: var(--color6); color: var(--color6);">6</td>
                      <td style="background-color: var(--color7); color: var(--color7);">7</td>
                      <td style="background-color: var(--color8); color: var(--color8);">8</td>
                      <td style="background-color: var(--color9); color: var(--color9);">9</td>
                      <td style="background-color: var(--color10); color: var(--color10);">10</td>
                    </tr>
                  </table>
                </div>
                <div id="color_box_top_s" style="margin-top: 0px; padding: 0px; display: none">
                  <table id="color_table_top_s" class="color_table2">
                    <tr>
                      <td style="background-color: white;">11</td>
                      <td style="background-color: white;">12</td>
                      <td style="background-color: white;">13</td>
                      <td style="background-color: white;">14</td>
                      <td style="background-color: white;">15</td>
                      <td style="background-color: white;">16</td>
                      <td style="background-color: white;">17</td>
                      <td style="background-color: white;">18</td>
                      <td style="background-color: white;">19</td>
                      <td style="background-color: white;">20</td>
                    </tr>
                    <tr>
                      <td style="background-color: white;">21</td>
                      <td style="background-color: white;">22</td>
                      <td style="background-color: white;">23</td>
                      <td style="background-color: white;">24</td>
                      <td style="background-color: white;">25</td>
                      <td style="background-color: white;">26</td>
                      <td style="background-color: white;">27</td>
                      <td style="background-color: white;">28</td>
                      <td style="background-color: white;">29</td>
                      <td style="background-color: white;">30</td>
                    </tr>
                    <tr>
                      <td style="background-color: white;">31</td>
                      <td style="background-color: white;">32</td>
                      <td style="background-color: white;">33</td>
                      <td style="background-color: white;">34</td>
                      <td style="background-color: white;">35</td>
                      <td style="background-color: white;">36</td>
                      <td style="background-color: white;">37</td>
                      <td style="background-color: white;">38</td>
                      <td style="background-color: white;">39</td>
                      <td style="background-color: white;">40</td>
                    </tr>
                    <tr>
                      <td style="background-color: white;">41</td>
                      <td style="background-color: white;">42</td>
                      <td style="background-color: white;">43</td>
                      <td style="background-color: white;">44</td>
                      <td style="background-color: white;">45</td>
                      <td style="background-color: white;">46</td>
                      <td style="background-color: white;">47</td>
                      <td style="background-color: white;">48</td>
                      <td style="background-color: white;">49</td>
                      <td style="background-color: white;">50</td>
                    </tr>
                    <tr>
                      <td style="background-color: white;">51</td>
                      <td style="background-color: white;">52</td>
                      <td style="background-color: white;">53</td>
                      <td style="background-color: white;">54</td>
                      <td style="background-color: white;">55</td>
                      <td style="background-color: white;">56</td>
                      <td style="background-color: white;">57</td>
                      <td style="background-color: white;">58</td>
                      <td style="background-color: white;">59</td>
                      <td style="background-color: white;">60</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div style="border: solid 0.5px; margin-top: 0px; padding: 2px; text-align: left">
                Bottom
                <img src="/png/long-pants.png" class="png24" style="height: 20px; width: 20px">
                <span id="bottomval">&nbsp&nbspcolor</span>
                <span style="float:right; margin-right: 10px; cursor: pointer;" onclick="open_bottom_box_s()"><i class="fas fa-angle-down"></i>&nbsp<i class="fas fa-angle-up"></i></span>
                <div id="color_box_bottom_h" style="margin-top: 3px; padding: 0px; text-align: center;">
                  <table id="color_table_bottom" class="color_table">
                    <tr>
                      <td style="background-image: url('images/rainbow.jpg'); background-size: 24px; color: rgba(0, 0, 0, 0);">1</td>
                      <td style="background-color: var(--color2); color: var(--color2);">2</td>
                      <td style="background-color: var(--color3); color: var(--color3);">3</td>
                      <td style="background-color: var(--color4); color: var(--color4);">4</td>
                      <td style="background-color: var(--color5); color: var(--color5);">5</td>
                      <td style="background-color: var(--color6); color: var(--color6);">6</td>
                      <td style="background-color: var(--color7); color: var(--color7);">7</td>
                      <td style="background-color: var(--color8); color: var(--color8);">8</td>
                      <td style="background-color: var(--color9); color: var(--color9);">9</td>
                      <td style="background-color: var(--color10); color: var(--color10);">10</td>
                    </tr>
                  </table>
                </div>
                <div id="color_box_bottom_s" style="margin-top: 0px; padding: 0px; display: none">
                  <table id="color_table_bottom_s" class="color_table2">
                    <tr>
                      <td style="background-color: white;">11</td>
                      <td style="background-color: white;">12</td>
                      <td style="background-color: white;">13</td>
                      <td style="background-color: white;">14</td>
                      <td style="background-color: white;">15</td>
                      <td style="background-color: white;">16</td>
                      <td style="background-color: white;">17</td>
                      <td style="background-color: white;">18</td>
                      <td style="background-color: white;">19</td>
                      <td style="background-color: white;">20</td>
                    </tr>
                    <tr>
                      <td style="background-color: white;">21</td>
                      <td style="background-color: white;">22</td>
                      <td style="background-color: white;">23</td>
                      <td style="background-color: white;">24</td>
                      <td style="background-color: white;">25</td>
                      <td style="background-color: white;">26</td>
                      <td style="background-color: white;">27</td>
                      <td style="background-color: white;">28</td>
                      <td style="background-color: white;">29</td>
                      <td style="background-color: white;">30</td>
                    </tr>
                    <tr>
                      <td style="background-color: white;">31</td>
                      <td style="background-color: white;">32</td>
                      <td style="background-color: white;">33</td>
                      <td style="background-color: white;">34</td>
                      <td style="background-color: white;">35</td>
                      <td style="background-color: white;">36</td>
                      <td style="background-color: white;">37</td>
                      <td style="background-color: white;">38</td>
                      <td style="background-color: white;">39</td>
                      <td style="background-color: white;">40</td>
                    </tr>
                    <tr>
                      <td style="background-color: white;">41</td>
                      <td style="background-color: white;">42</td>
                      <td style="background-color: white;">43</td>
                      <td style="background-color: white;">44</td>
                      <td style="background-color: white;">45</td>
                      <td style="background-color: white;">46</td>
                      <td style="background-color: white;">47</td>
                      <td style="background-color: white;">48</td>
                      <td style="background-color: white;">49</td>
                      <td style="background-color: white;">50</td>
                    </tr>
                    <tr>
                      <td style="background-color: white;">51</td>
                      <td style="background-color: white;">52</td>
                      <td style="background-color: white;">53</td>
                      <td style="background-color: white;">54</td>
                      <td style="background-color: white;">55</td>
                      <td style="background-color: white;">56</td>
                      <td style="background-color: white;">57</td>
                      <td style="background-color: white;">58</td>
                      <td style="background-color: white;">59</td>
                      <td style="background-color: white;">60</td>
                    </tr>
                  </table>
                </div>

              </div>
            </div>
            <!-- <div id="color_slider" style="border: solid 1px; margin-top: 15px; padding: 5px;" >
              <div style="border: solid 0.5px;">
                top <img src="/png/tshirt.png" class="png24" style="height: 20px; width: 20px"> <span id="slidevalue1"></span>
                <div class="slidecontainer" style ="padding: 10px">
                  <input type="range" min="0" max="100" class="slider" id="myRange1">
                </div>
              </div>
              <div style="border: solid 0.5px; margin-top: 15px;">
                bottom<img src="/png/long-pants.png" class="png24" style="height: 20px; width: 20px"> <span id="slidevalue2"></span>
                <div class="slidecontainer" style ="padding: 10px">
                  <input type="range" min="0" max="100" class="slider" id="myRange2">
                </div>

              </div>
            </div> -->
            <div>
              <button class="button_long" id="btn_color" >Change Color</button>
            </div>
          </div>

          <div class="col" style="border: solid 5px; padding: 5px; max-width: 32.5%; background-color: white">
            <div class="titlebox">
              <span style="line-height: 35px;">Output Image</span><span id="out_success" style="">&nbsp<i class="fas fa-exclamation-circle"></i></span>
            </div>
            <div class="text-center" style="margin-top: 10px;">
              <img id ="output_img" src="/py_code/output/white.jpg" class="rounded show_img" alt="output img" style="display:none">
            </div>
          </div>
      </div>
      <div>
        <button class="button" id="btn_reset" onclick="btn_reset()" style="margin-top: 10px; margin-bottom: 0px;">Reset</button>
      </div>
      </div>

      <form id='target' action='' style="display: none">
        <input id='target_input' name='cmd' type='text' placeholder="type command">
        <input id ='cmd_submit' class="button" type='submit' value='submit'>
      </form>

      <!-- <h4 id="term_result"><%= data %></h4> -->

    </div>
    <div style="text-align: center;">
      <div style="margin-left: 30px;">Copyright© Kim Dayeon, Park Byeongjun, Park Sion, Jeon Jiwon. All Rights Reserved.</div>
      <div>&nbsp</div>
      <div style="margin-left: 30px;">Icons made by <a href="https://www.freepik.com/?__hstc=57440181.c0453f864bf26b00db0b0e72dec1cf4a.1559062326512.1559062326513.1559062326513.1&__hssc=57440181.1.1559062326514&__hsfp=3820996273" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	  <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- <script src="jquery/js/jquery-1.9.0.min.js"></script>
    <script src="jquery/js/jquery-ui-1.10.0.custom.min.js"></script> -->
    <script src="/javascripts/index.js"></script>

    <script type="text/javascript">
    </script>

  </body>
</html>
