<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap and imported CSS -->
      <!-- <link href='https://use.fontawesome.com/releases/v5.0.8/css/all.css' rel='stylesheet'> -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
      <link href='https://fonts.googleapis.com/css?family=Laila|Nunito:400,700' rel='stylesheet'>
      <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
      <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="style1.css" />
      <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css?family=Laila|Nunito:400,700" rel="stylesheet"> -->

      <!-- Custom CSS -->
      <!-- <link href="./style.css" rel="stylesheet" /> -->
      <link rel='stylesheet' href='/stylesheets/style.css' />

      <title>EE474</title>
    </head>
  </head>
  <body>

    <div id="title_body">
      <h1 style="margin-left: 20px;">
        <!-- <i class="fas fa-tshirt" style="color: white"/></i> <i class="fas fa-mitten" style="color: #C785FF"></i> <i class="fas fa-socks" style="color: #3DFFD5"></i> -->
        <i class="fas fa-tshirt" style="color: white"/></i> <i class="fas fa-mitten" style="color: white"></i> <i class="fas fa-socks" style="color: white"></i>
        EE474: Term Project
        <!-- <i class="fas fa-tshirt" style="color: #30FF5D"/></i> <i class="fas fa-mitten" style="color: #EB9D44"></i> <i class="fas fa-socks" style="color: white"></i> -->
        <i class="fas fa-tshirt" style="color: white"/></i> <i class="fas fa-mitten" style="color: white"></i> <i class="fas fa-socks" style="color: white"></i>
      </h1>
      <h2 style="margin-left: 180px;">
        "Image Segmentation and Recoloring the Clothes"
      </h2>
      <h4 style="text-align: right">Kim Dayeon, Park Byeongjun, Park Sion, Jeon Jiwon</h4>
    </div>

    <div class="container">
      <!-- <h2 id="title">img segmentation and recoloring the clothes</h1> -->
      <!-- <button class="button" id="btn_1" onclick="btn1()">button1</button> -->

      <div class="img_container">
        <div class="row">
          <div class="col" style="border: solid 1px;padding: 10px; margin-right: 5px;">
          <!-- <div class="img_box float-left" style= "margin-right: 30px;"> -->
            <!-- input img box -->
            <label class="fileSubmit">
              Select Input Image
              <input type="file" id="getimg" accept="image/*" required >
            </label>
            <div class="text-center" style="margin-top: 0px;">
              <!-- <img id ="input_img" src="/images/input/997_1.jpg" class="rounded show_img" alt="input img" style=""> -->
              <img id ="input_img" src="/images/input1.jpg" class="rounded show_img" alt="input img" style="">
            </div>
          <!-- </div> -->
          </div>
          <div class="col" id ="color_box" style="border: solid 1px; padding: 10px; margin-right: 5px; max-width: 30%;">
            color change box
            <div id="color_slider" style="border: solid 1px; margin-top: 15px; padding: 5px;" >
              <div style="border: solid 0.5px;">
                top <img src="/png/tshirt.png" class="png24" style="height: 20px; width: 20px"> <span id="slidevalue1"></span>
                <div class="slidecontainer" style ="padding: 10px">
                  <input type="range" min="0" max="100" class="slider" id="myRange1">
                </div>
                <!-- <div id="slidevalue1">
                </div> -->
              </div>
              <div style="border: solid 0.5px; margin-top: 15px;">
                bottom<img src="/png/long-pants.png" class="png24" style="height: 20px; width: 20px"> <span id="slidevalue2"></span>
                <div class="slidecontainer" style ="padding: 10px">
                  <input type="range" min="0" max="100" class="slider" id="myRange2">
                </div>
                <!-- <div id="slidevalue2">
                </div> -->
              </div>
            </div>
            <div>
              <button class="button_long" id="btn_color" onclick="btn_color()">Change Color</button>
            </div>
          </div>

          <div class="col" style="border: solid 1px; padding: 10px;">
          <!-- <div class="img_box float-right" style= ""> -->
            output img
            <div class="text-center" style="margin-top: 10px;">
              <img id ="output_img" src="/images/output1.jpg" class="rounded show_img" alt="output img" style="">
            </div>
          <!-- </div> -->
          </div>
        </div>
      </div>
      <form id='target' action=''>
        <input id='target_input' name='cmd' type='text' placeholder="type command">
        <input id ='cmd_submit' class="button" type='submit' value='submit'>
      </form>
      <h4 id="term_result"><%= data %></h4>
      <div>
        <button class="button" id="btn_reset" onclick="btn_reset()">reset</button>
      </div>
    </div>

    <div style="margin-left: 30px;">Icons made by <a href="https://www.freepik.com/?__hstc=57440181.c0453f864bf26b00db0b0e72dec1cf4a.1559062326512.1559062326513.1559062326513.1&__hssc=57440181.1.1559062326514&__hsfp=3820996273" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	  <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- <script src="jquery/js/jquery-1.9.0.min.js"></script>
    <script src="jquery/js/jquery-ui-1.10.0.custom.min.js"></script> -->
    <script src="/javascripts/index.js"></script>

    <script type="text/javascript">

      // var input_img = ""
      //
      // var slider1 = document.getElementById("myRange1");
      // var slider1_val = document.getElementById("slidevalue1");
      // slider1_val.innerHTML = "value: "+slider1.value; // Display the default slider value
      //
      // var slider2 = document.getElementById("myRange2");
      // var slider2_val = document.getElementById("slidevalue2");
      // slider2_val.innerHTML = "value: "+slider2.value; // Display the default slider value
      //
      // window.top_val = slider1.value;
      // window.bottom_val = slider2.value;
      //
      // $("#myRange1")[0].value = window.top_val;
      // console.log("top_val: ", window.top_val);
      // console.log("bottom_val: ", window.bottom_val);
      //
      // // Update the current slider value (each time you drag the slider handle)
      // slider1.oninput = function() {
      //   slider1_val.innerHTML = "value: "+this.value;
      //   window.top_val = this.value;
      // }
      //
      // // Update the current slider value (each time you drag the slider handle)
      // slider2.oninput = function() {
      //   slider2_val.innerHTML = "value: "+this.value;
      //   window.bottom_val = this.value;
      // }
      //
      // function btn_color(){
      //   console.log("btn_color clicked");
      //   console.log("top_val: ", window.top_val);
      //   console.log("bottom_val: ", window.bottom_val);
      //   $("#output_img")[0].src = "/images/output/"+input_img;
      // }
      //
      // function btn_reset(){
      //   location.href="/";
      // }
      //
      // $(document).ready(function () {
      //
      //
      //   $("#getimg").change(function () {
      //     var imgname = document.getElementById("getimg");
      //     var file = $("#getimg").prop("files")[0];
	    //     console.log("file: ", file.name);
      //     // console.log($("#input_img")[0]);
      //     $("#input_img")[0].src = "/images/input/"+file.name;
      //     input_img = file.name;
      //     console.log(input_img);
      //
      //     //preview();
      //   })
      // });
    </script>

  </body>
</html>
