<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap and imported CSS -->
      <link href='https://use.fontawesome.com/releases/v5.0.8/css/all.css' rel='stylesheet'>
      <link href='https://fonts.googleapis.com/css?family=Laila|Nunito:400,700' rel='stylesheet'>
      <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
      <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="style1.css" />
      <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
      <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Laila|Nunito:400,700" rel="stylesheet"> -->

      <!-- Custom CSS -->
      <!-- <link href="./style.css" rel="stylesheet" /> -->
      <link rel='stylesheet' href='/stylesheets/style.css' />

      <title>EE474</title>
    </head>
  </head>
  <body>

    <div id="title_body">
      <h1>EE474: term project</h1>
      <h4 style="text-align: right">Kim Dayeon, Park Byeongjun, Park Sion, Jeon Jiwon</h4>
    </div>

    <div class="container">
      <h2 id="title">img segmentation and recoloring the clothes</h1>
      <!-- <button class="button" id="btn_1" onclick="btn1()">button1</button> -->
      <form id='target' action=''>
        <input id='target_input' name='cmd' type='text' placeholder="type command">
        <input class="button" type='submit' value='submit'>
      </form>
      <h4><%= data %></h4>
      <div class="img_container">
        <div class="row">
          <div class="col" style="border: solid 1px;padding: 10px; margin-right: 5px;">
          <!-- <div class="img_box float-left" style= "margin-right: 30px;"> -->
            input img box
            <div class="text-center" style="margin-top: 10px;">
              <img id ="input_img" src="/images/sample_in.jpg" class="rounded show_img" alt="input img" style="">
            </div>
          <!-- </div> -->
          </div>
          <div class="col" style="border: solid 1px; padding: 10px; margin-left: 5px;">
          <!-- <div class="img_box float-right" style= ""> -->
            output img box
            <div class="text-center" style="margin-top: 10px;">
              <img id ="output_img" src="/images/sample_out.jpg" class="rounded show_img" alt="output img" style="">
            </div>
          <!-- </div> -->
          </div>
        </div>
      </div>
      <div>
        <button class="button" id="btn_1" onclick="btn1()">reset</button>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	  <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!-- <script src="jquery/js/jquery-1.9.0.min.js"></script>
    <script src="jquery/js/jquery-ui-1.10.0.custom.min.js"></script> -->
    <script src="/javascripts/index.js"></script>

  </body>
</html>
