:root {
    --background: #F7F7F7;
    --darker-grey: #A9A9A9;
    --btn-color: #6CCDEB;
    --light-table-border-color: #EDF0F5;
}

@font-face {
    font-family: 'Arita-100';
    src: url("../font/아리따-돋움\(TTF\)-Thin.ttf") format("truetype");
}

@font-face {
    font-family: 'Arita-200';
    src: url("../font/아리따-돋움\(TTF\)-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'Arita-300';
    src: url("../font/아리따-돋움\(TTF\)-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'Arita-400';
    src: url("../font/아리따-돋움\(TTF\)-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: 'Arita-500';
    src: url("../font/아리따-돋움\(TTF\)-Bold.ttf") format("truetype");
}

body {
    background-color: var(--background);
    font-family: "Arita-400";
    margin-top: 10px;
}


#title_body{
    /* margin-right:auto;
    margin-left: auto;
    width: 900px; */
    /* border: solid 1px; */
    padding: 20px;
    background-color: black;
    color: white;
    /* text-align: center; */
}

#title {

}

.button {
  margin: 10px;
  border: solid var(--darker-grey) 1px;
  border-radius: 5px 5px;

  width: 80px;
  background-color: var(--light-table-border-color);
  padding: 3px 3px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.button:hover{
    background-color: var(--btn-color);
    box-shadow: 1px 1px 2px grey;
    color: white;
    text-shadow: -0.5px 0 var(--darker-grey), 0 0.5px var(--darker-grey), 0.5px 0 var(--darker-grey), 0 -0.5px var(--darker-grey);
}

#table_text{
  font-family: 'Nunito', sans-serif;
}

.container{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  /* width: 700px; */
  text-align: center;
}

.img_container{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  padding: 30px;
  border: solid 1px;
  /* width: 900px; */
  height: 430px;
}

.img_box{
  /* margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px; */
  text-align: center;
  border: solid 1px;
  padding: 10px;
  /* width: auto; */
  width: 415px;
  height: 400px;
}

.show_img{
  width:300px;
  height:300px;
  background-color: white;
}

.table_container{
  margin-left: auto;
  margin-right: auto;
}

.collapse {
  border-collapse: collapse;
}

.theader {
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
}

table {
  display: inline-table;
  width: 30em;
  font-size: 1.1em;
}

th{
  border-bottom: 1px solid black;
  text-align: left;
  padding: 3px;
}

td{
  border-bottom: 1px solid #c5c5c5;
  text-align: left;
  padding: 3px;
}
